{%- macro servers_in_zone(zone) export %}
{%- set zone_vars = zones[zone] %}
- [ ] Do something on the following servers.
{% for sv in zone_vars.server_ids_in_zone %}
{%- set hostname = sv + "-" + zone %}
{%- set fqdn = hostname + "." + domain %}
  * {{ fqdn }}: {{ param1[hostname ]}} 
{%- endfor %}
{%- if env == "production" %}

- [ ] Do something more only for production.
{%- endif %}
{%- endmacro %}
